<div #swiperContainer class="swiper-container">
  <div class="swiper-wrapper">
    @for(phone of equiposList.slice(0, 4); track phone.id){
      <div class="swiper-slide">
        <div class="equipos_card">
          <div class="equipos_card_contenido">
              <div class="equipos_card_info">
                  <p class="equipos_card_marca">
                      {{phone.brand}}
                  </p>
                  <p class="equipos_card_name">
                      {{phone.name}}
                      <span *ngIf="phone.name2"> <span class="plus">+</span> {{ phone.name2 }}</span>
                  </p>
                  <div class="equipos_card_contenedor">
                      <img src="../../assets/images/pack-navidad/PNG_NOV_MonioEquiposNavidad.png" alt="Monio" class="equipos_card_monio_img">
                      <div class="equipos_card_contado">
                          <p class="equipos_card_paymentMethod">
                              {{phone.paymentMethod}}
                          </p>
                          <div class="equipos_card_precio">
                              <span>{{phone.typeCurrency}}</span>{{phone.price}}
                          </div>
                      </div>
                      <div class="equipos_card_plan">
                          <p class="equipos_card_planText">
                              {{phone.planText}}
                          </p>
                          <div class="equipos_card_precio_plan">
                              <span class="moneda_plan">{{phone.PlanValueTypeCurrency}}</span>
                              {{phone.planValue}}
                              <span class="precio_decimal">.{{phone.PlanValueDecimal}}</span>
                          </div>
                          <p class="equipos_card_precio_precio">
                              {{phone.previousPrice}}
                          </p>
                      </div>
                  </div>
                  <button class="equipos_card_btn_loquiero"
                      appDatalayer gtm-category="catalogo b2b - slider" gtm-label="lo quiero"
                      >Lo quiero</button>
              </div>
              <div class="equipos_card_ilustracion">
                  <img [src]="phone.imageCelphone" [alt]="phone.name"  class="equipos_card_ilust_img"/>
              </div>
          </div>
      </div>
      </div>
    }
  </div>
</div>

<!-- recomendado -->
<swiper-container navigation="true" pagination="true">
  @for(phone of equiposList.slice(0, 4); track phone.id){
    <swiper-slide>
        <div class="equipos_card">
          <div class="equipos_card_contenido">
              <div class="equipos_card_info">
                  <p class="equipos_card_marca">
                      {{phone.brand}}
                  </p>
                  <p class="equipos_card_name">
                      {{phone.name}}
                      <span *ngIf="phone.name2"> <span class="plus">+</span> {{ phone.name2 }}</span>
                  </p>
                  <div class="equipos_card_contenedor">
                      <img src="../../assets/images/pack-navidad/PNG_NOV_MonioEquiposNavidad.png" alt="Monio" class="equipos_card_monio_img">
                      <div class="equipos_card_contado">
                          <p class="equipos_card_paymentMethod">
                              {{phone.paymentMethod}}
                          </p>
                          <div class="equipos_card_precio">
                              <span>{{phone.typeCurrency}}</span>{{phone.price}}
                          </div>
                      </div>
                      <div class="equipos_card_plan">
                          <p class="equipos_card_planText">
                              {{phone.planText}}
                          </p>
                          <div class="equipos_card_precio_plan">
                              <span class="moneda_plan">{{phone.PlanValueTypeCurrency}}</span>
                              {{phone.planValue}}
                              <span class="precio_decimal">.{{phone.PlanValueDecimal}}</span>
                          </div>
                          <p class="equipos_card_precio_precio">
                              {{phone.previousPrice}}
                          </p>
                      </div>
                  </div>
                  <button class="equipos_card_btn_loquiero"
                      appDatalayer gtm-category="catalogo b2b - slider" gtm-label="lo quiero"
                      >Lo quiero</button>
              </div>
              <div class="equipos_card_ilustracion">
                  <img [src]="phone.imageCelphone" [alt]="phone.name"  class="equipos_card_ilust_img"/>
              </div>
          </div>
      </div>
    </swiper-slide>
  }
</swiper-container>

<router-outlet></router-outlet>
